In [140]:
import pandas as pd
import numpy as np

# repeat cocatenate

In [18]:
df = pd.DataFrame({'A':[1,2],'B':[[3,4,4],[5,6,6]],'C':[[7,8,8],[9,0,0]]})

In [19]:
df

   A          B          C
0  1  [3, 4, 4]  [7, 8, 8]
1  2  [5, 6, 6]  [9, 0, 0]

In [20]:
df.A

0    1
1    2
Name: A, dtype: int64

In [21]:
df.B

0    [3, 4, 4]
1    [5, 6, 6]
Name: B, dtype: object

In [41]:
df.B.str.len()

0    3
1    3
Name: B, dtype: int64

In [23]:
list(df.B.str)

[0    3
 1    5
 Name: B, dtype: int64, 0    4
 1    6
 Name: B, dtype: int64, 0    4
 1    6
 Name: B, dtype: int64]

In [24]:
df

   A          B          C
0  1  [3, 4, 4]  [7, 8, 8]
1  2  [5, 6, 6]  [9, 0, 0]

In [31]:
df.A.repeat([3,2])

0    1
0    1
0    1
1    2
1    2
Name: A, dtype: int64

In [36]:
df.B.values

array([list([3, 4, 4]), list([5, 6, 6])], dtype=object)

In [37]:
np.concatenate(df.B.values)

array([3, 4, 4, 5, 6, 6])

In [42]:
pd.DataFrame({'A':df.A.repeat(df.B.str.len()),'B':np.concatenate(df.B.values),'C':np.concatenate(df.C.values)})

   A  B  C
0  1  3  7
0  1  4  8
0  1  4  8
1  2  5  9
1  2  6  0
1  2  6  0

In [49]:
np.concatenate(df.B.values)

array([3, 4, 4, 5, 6, 6])

In [50]:
df.A.repeat(df.B.str.len())

0    1
0    1
0    1
1    2
1    2
1    2
Name: A, dtype: int64

# ABCD字数量相同

In [129]:
#4*改变最小长度使字符串中ABCD数量相同字符串
class Lin:
    def a(self, abcd):
        start_end = {}
        for i in range(len(abcd)):
            for j in range(i+1,len(abcd)):
                if self.mast_a(abcd[0:i]+abcd[j:],i,j):
                    start_end[str(i)+','+str(j)] = j-i
                    break
        #return min(map(lambda x: x[1] - x[0] + 1,start_end))
        return start_end
                
    def mast_a(self, strabcd, i, j):
        word_count = {word:strabcd.replace('',' ').strip().split().count(word) for word in set(strabcd.replace('',' ').strip().split())}
        max_str = max(word_count.values())
        changes = max_str*4 - self.zero_num(word_count,'a') - self.zero_num(word_count,'b') - self.zero_num(word_count,'c') - self.zero_num(word_count,'d')
        mast = j-i-changes
        return mast>=0 & mast % 4 == 0
    
    def zero_num(self, word_count, s):
        return word_count.get(s) if word_count.get(s) else 0

In [130]:
strabcd = Lin()
n = strabcd.a('abcdaacb')
n

{'0,1': 1, '1,5': 4, '2,5': 3, '3,5': 2, '4,5': 1, '5,6': 1}

In [131]:
sorted(n.items(),key=lambda x:x[1])

[('0,1', 1), ('4,5', 1), ('5,6', 1), ('3,5', 2), ('2,5', 3), ('1,5', 4)]

In [132]:
sorted(n.items(),key=lambda x:x[1])[0]

('0,1', 1)

In [17]:
max_str = lambda {word:a.replace('',' ').strip().split().count(word) for word in set(a.replace('',' ').strip().split())}: x.
max_str

'd'

In [20]:
{word:a.replace('',' ').strip().split().count(word) for word in set(a.replace('',' ').strip().split())}

{'d': 1, 'b': 1, 'c': 1, 'a': 5}

In [30]:
word_count

{'d': 1, 'b': 1, 'c': 1, 'a': 5}

In [29]:
word_count = {word:strabcd.replace('',' ').strip().split().count(word) for word in set(strabcd.replace('',' ').strip().split())}
max_str = max(word_count.values())
max_str

5

In [69]:
word_count.get('d')

1

# s/2

In [216]:
# arr : 每一个像素点的值，一定在0~S范围
#  s : 如果像素的值<0，会自动变成0;如果像素的值>S，会自动变成s
# 请返回，加上哪个数k，会让整个数组的平均值，最接近s/2
def knum(arr, s):
    ave = avenum(arr, s, 0)
    print('ave',ave)
    loss_change = abs(s/2 - ave)
    i_change = 0
    print('loss_change',loss_change)
    for i in range(-128,128):
        target = avenum(arr, s, i)
        loss = abs(s/2 - target)
        if loss < loss_change or(loss == loss_change and abs(i)<abs(i_change)):
            loss_change = loss
            i_change = i
    return i_change

In [219]:
# 像素值在arr里，所有数字+k
# 如果像素的值<0，会自动变成0;如果像素的值>S，会自动变成S
# 返回+k之后的数组，平均值是多少

def avenum(arr, s, k):
    new_arr = list(map(lambda x: s if x+k > s  else x+k if x+k >0 else 0,arr))
    #print('avenum',new_arr,np.mean(new_arr),k)
    return np.mean(new_arr)

In [220]:
arr = [0,60,120,200,220]
knum(arr,255)

ave 120.0
loss_change 7.5

7

# 从内到外打印矩阵

In [274]:
def prinlab(matrx,n):
    #定义中心-左上和右下成为一个框
    ls_lab = int((n-1)/2)
    rx_lab = int(n/2)
    #接受路径
    route = []
    #循环得到每一个框
    while rx_lab < n:
        #如果中心为一个点
        if ls_lab == rx_lab:
            route.append(matrx[rx_lab][ls_lab])
        #中心为框
        else:
            #移动点初始化-右上角点
            row,col = ls_lab,rx_lab
            #右上角向下一格开始
            while row < rx_lab:
                row = row + 1
                route.append(matrx[row][col])
            #向左
            while col > ls_lab:
                col = col - 1
                route.append(matrx[row][col])
            #向上
            while row > ls_lab:
                row = row - 1
                route.append(matrx[row][col])
            #向右
            while col < rx_lab:
                col = col + 1
                route.append(matrx[row][col])
        #顶点向两端扩大得到下一层框
        rx_lab = rx_lab+1
        ls_lab = ls_lab-1
    return '--> '.join(route)

In [276]:
matrx = [['a','b','c','d'],
        ['h','i','j','k'],
        ['o','p','q','r'],
        ['u','v','w','x']]
matrx[0][0]

'a'

In [277]:
prinlab(matrx,4)

'q--> p--> i--> j--> k--> r--> x--> w--> v--> u--> o--> h--> a--> b--> c--> d'