In [33]:
import pandas as pd
import numpy as np

In [18]:
df = pd.DataFrame({'A':[1,2],'B':[[3,4,4],[5,6,6]],'C':[[7,8,8],[9,0,0]]})

In [19]:
df

   A          B          C
0  1  [3, 4, 4]  [7, 8, 8]
1  2  [5, 6, 6]  [9, 0, 0]

In [20]:
df.A

0    1
1    2
Name: A, dtype: int64

In [21]:
df.B

0    [3, 4, 4]
1    [5, 6, 6]
Name: B, dtype: object

In [41]:
df.B.str.len()

0    3
1    3
Name: B, dtype: int64

In [23]:
list(df.B.str)

[0    3
 1    5
 Name: B, dtype: int64, 0    4
 1    6
 Name: B, dtype: int64, 0    4
 1    6
 Name: B, dtype: int64]

In [24]:
df

   A          B          C
0  1  [3, 4, 4]  [7, 8, 8]
1  2  [5, 6, 6]  [9, 0, 0]

In [31]:
df.A.repeat([3,2])

0    1
0    1
0    1
1    2
1    2
Name: A, dtype: int64

In [36]:
df.B.values

array([list([3, 4, 4]), list([5, 6, 6])], dtype=object)

In [37]:
np.concatenate(df.B.values)

array([3, 4, 4, 5, 6, 6])

In [42]:
pd.DataFrame({'A':df.A.repeat(df.B.str.len()),'B':np.concatenate(df.B.values),'C':np.concatenate(df.C.values)})

   A  B  C
0  1  3  7
0  1  4  8
0  1  4  8
1  2  5  9
1  2  6  0
1  2  6  0

In [49]:
np.concatenate(df.B.values)

array([3, 4, 4, 5, 6, 6])

In [50]:
df.A.repeat(df.B.str.len())

0    1
0    1
0    1
1    2
1    2
1    2
Name: A, dtype: int64